*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100% ;
}

#parent{
    width:500px;
    height:500px;
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
}

#child1{
    width:200px;
    height:200px;
    background-color: red;
}

#child2{
    width:150px;
    height:150px;
    background-color: green;
}
#child3{
    width:100px;
    height:100px;
    background-color: rgb(3, 61, 250);
}